/* Global */

:root {
	--dark-blue: #363f5f;
	--green: #49aa26;
	--dark-green: #2d4a22;
	--red: #e92929;

	--background: #f0f2f5;
	--surface: #ffffff;

	--contrast-text: #ffffff;
	--text: #333333;
	--overline-text: #969cb3;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--text);
	font-family: "Poppins", sans-serif;
}

.container {
	width: min(90vw, 800px);
	margin: auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;

	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* Typography */

h2 {
	margin-top: 3.2rem;
	margin-bottom: 0.8rem;

	color: var(--dark-blue);
}

/* Header */
header {
	background: var(--dark-green);
	padding: 2rem 0 10rem;
	text-align: center;
}

#logo {
	color: var(--contrast-text);
	font-weight: 100;
}

/* Balance */
#balance {
	margin-top: -8rem;
}

#balance h2 {
	color: var(--contrast-text);
	margin-top: 0;
}

/* Cards */
.card {
	background: var(--surface);
	padding: 1.5rem 2rem;
	border-radius: 0.25rem;
	margin-bottom: 2rem;

	color: var(--dark-blue);
}

.card h3 {
	font-size: 1rem;
	font-weight: normal;
}

.card p {
	font-size: 2rem;
	line-height: 3rem;

	margin-top: 1rem;
}

.card.total {
	background: var(--green);
	color: var(--contrast-text);
}

/* Table */
#data-table {
	width: 100%;
	border-spacing: 0 0.5rem;
	color: var(--overline-text);
}

table thead th {
	background: var(--surface);

	font-weight: 400;
	padding: 1rem 2rem;

	text-align: left;
}

table thead tr th:first-child,
table tbody tr td:first-child {
	border-radius: 0.25rem 0 0 0.25rem;
}

table tbody tr {
	opacity: 0.7;
}

table tbody tr:hover {
	opacity: 1;
}

table td {
	background: var(--surface);
	padding: 1rem 2rem;
}

td.description {
	color: var(--dark-blue);
}

td.income {
	color: var(--green);
}

td.expense {
	color: var(--red);
}

/* Footer */
footer {
	text-align: center;

	padding: 4rem 0 2rem;
	color: var(--dark-blue);

	opacity: 0.6;
}
